{% extends "categories/base.html" %} {% block title %}Home Page{% endblock %}

<!-- Start Body of All Pages-->

{% block main %} 
{% for post in posts %} {%for tag in post.tags.all%}

<button class="btn btn-warning btn-sm">
  <a href="{% url 'postsTags' tag.slug%}">{{tag.name}}</a>
</button>

{%endfor%} {% endfor %}

<div class="container">
  <div class="row">
    <aside class="col-3 border rounded p-2">
      <h3 class="text-center mb-2 rounded border p-2">Categories</h3>
      {% if user.is_superuser == True %}
      <div class="text-center">
        <button class="btn btn-primary mb-2">
          <a href="{% url 'new_category' %}" class="nav-link">Add Category</a>
        </button>
      </div>
      {% endif %}

      <div>
        <ul class="list-group">
          {% for category in categories %}
          <li class="list-group-item">
            <a href="{% url 'category_posts' category.pk%}"
              ><strong>{{category.name}}</strong></a
            >
            <a href="" class="btn btn-primary float-end">Subscribe</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </aside>
    <section class="col-9 border rounded p-2">
      <h3 class="text-center mb-3 rounded border p-2">News</h3>
      <div class="rounded border p-2">
        <!-- / -->
        {% for post in posts %}

        <div class="col">
          <div
            class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
          >
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary"
                >{{post.category}}</strong
              >
              <h3 class="mb-0">{{post.title}}</h3>
              <div class="mb-1 text-muted">{{post.created_dt}}</div>
              <p class="card-text mb-auto">{{post.content}}</p>
              <a
                href="{% url 'post' category_id=post.category.id post_id=post.pk %}"
                >Continue reading</a
              >
              {%for tag in post.tags.all%}
              <button class="btn btn-warning btn-sm">
                <a href="{% url 'postsTags' tag.slug%}">{{tag.name}}</a>
              </button>

              {%endfor%}
            </div>
            <div class="col-auto d-none d-lg-block"></div>
            <img src="media/{{post.image}}" alt="" />
          </div>
        </div>
        {% endfor %}

        <!-- / -->
      </div>
    </section>
  </div>
</div>
{% endblock main %}
<!-- End Body of All Pages-->
