{% extends "categories/base.html" %}
{% load widget_tweaks %}


{% block title %}New Post{% endblock %}

{% block main %}
<form method="post" class="container" enctype="multipart/form-data" novalidate> 
    {% csrf_token %}
    {% include 'categories/includes/form.html' %}
          <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary mt-2" type="submit">
          <strong>
             Add
          </strong>
        </button>
      </div>
  </form>
{% endblock main %}