{% extends "categories/base.html" %}
{% load widget_tweaks %}
{% block title %}
{{post.title}}
{% endblock %}
{% block main %}
{% comment %}{% endcomment %}


<div class="container col-9 m-auto">

  {% if post.created_by == user %}
  <div class="mt-3 col-12 text-start">
    <a href="{% url 'editPost' post.category.id post.id %}" class="btn btn-primary btn" role="button">Edit</a>
  </div>
  {% endif %}

  <div class="card my-3 col-12 p-3 ">
    <img src="/media/{{post.image}}" class="img-fluid rounded-start card-img-top" alt="...">
    <div class="card-body postCont">
      <h5 class="card-title">{{post.title}}</h5>
      <h5 class="card-title top1 text-white text-bg-secondary">{{post.category}}</h5>
      <p class="card-text">{{post.content}}</p>
      <p class="card-text"><small class="text-muted bottom1">{{ post.whenpublished}}</small></p>
      <p class="card-text"><strong class="bottom2 text-info">{{post.created_by.username}}</strong></p>
      <div class="container">
        <a href="{% url 'like' post.id %}" class="btn btn-primary">like </a>
        <a href="{% url 'dislike' post.id %}" class="btn btn-primary">dislike</a>
    </div>

    <strong>{{post.num_likes}} likes  </strong>
      {{post.num_likes}} likes 
      {{post.num_dislikes}} dislikes
    </strong>
    </div>
  </div>

  {% if post.comments.all %}
  <p>Comments</p>
  <div class="border border-secondary rounded p-3 mb-2 ">
    {% for comment in post.comments.all %}
    <p class="border rounded p-2 commentParg">
      <strong class="text-info">{{comment.created_by.username}}</strong><br>
      <span class=" fs-6 m-0 mx-3 ">{{comment.massage}} </span><br>
      <span class="text-muted commentTime">{{ comment.whenpublished }}</span>
    </p>
    {% endfor %}
  </div>
  {% endif %}

  <form method="post" class="col-12 m-0 p-0" novalidate>
    {% csrf_token %} {% include 'categories/includes/form.html' %}
    <div class="text-end">
      <button type="submit" class="btn btn-success mb-2">Reply</button>
    </div>
  </form>
</div>

{% endblock main %}


